:root {
    --p-clr: #2250dd;
    --i-clr: #000000a6;
}


.carousel-content {
    position:absolute;
    top:50%;
    left:30%;
    right: 0;
    transform: translate(-50%, -50%);
    color: var(--i-clr);
    text-align: left;
    width: 50%;
}

.btn-shop {
    background-color: var(--p-clr);
    border-radius: 0;
    color: white;
}

.btn-shop:hover {
    background-color: var(--i-clr);
    border-radius: 0;
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    color: var(--i-clr) !important;
    width: 5%;
}